# Base URL for frontend (defaults to http://localhost:3000)
# BASE_URL=http://localhost:3000

# Run headed mode (set to false to see browser)
# HEADLESS=false

# Optional: AWS Cognito test credentials for Hosted UI login
COGNITO_USERNAME=nuwanthapiumal57@gmail.com
COGNITO_PASSWORD=Nuwantha@1234
